.box-shadow {
  box-shadow: 0 .25rem .75rem rgb(65, 172, 172);
}
.headtxt
{
 text-align: center;
  background-color: rgb(65, 172, 172);
  font-weight: bolder;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
}
  input[type="button"]
  {
  border-radius: 10px;
  background-color:rgb(65, 172, 172);
  color: white;  
  width:100%;
  }
 .calcaln
 {
  padding-top: 10px;
  margin-top: 2%;
  height: 300px;
 }
 .problembox
 {
   padding-left: 30px;
 }
 .subheadtxt
{
 text-align: center;
   font-size: small;
  color: rgb(19, 2, 2);
  }
  .finaltxt
{
 text-align: left;
    font-weight: bolder;
    padding-left: 30px;
    padding-top: 30px;
}
.inputtxt
{
  width:100px;
  height: 30px;
  border: solid black 2px;
  text-align: center;
}
h5{
  padding-left: 30px;
  text-decoration: underline;
}
